MARKETING_VERSION = 0.3.3
CURRENT_PROJECT_VERSION = 7
URL_SLASH = /
POSTHOG_API_KEY = phc_AwJsG6OgXpxwREkX5OW41cZ1tjjoLplTif5KbocleFx
POSTHOG_HOST = https:$(URL_SLASH)$(URL_SLASH)p.supaterm.com
POSTHOG_PERSON_PROFILES = identified_only
SENTRY_DSN = https:$(URL_SLASH)$(URL_SLASH)8969bef7c5e84f8e06277369f86827d9@o1224589.ingest.us.sentry.io/4511133561257984
SPARKLE_PUBLIC_ED_KEY = wbbK05Lx4rTBTPrXR9HyRkNC+FzMDMmwSuHnqQ2bUVE=
