MARKETING_VERSION = 26.4.0
CURRENT_PROJECT_VERSION = 40
URL_SLASH = /
POSTHOG_API_KEY = phc_AwJsG6OgXpxwREkX5OW41cZ1tjjoLplTif5KbocleFx
POSTHOG_HOST = https:$(URL_SLASH)$(URL_SLASH)p.supaterm.com
POSTHOG_PERSON_PROFILES = identified_only
SPARKLE_PUBLIC_ED_KEY = wbbK05Lx4rTBTPrXR9HyRkNC+FzMDMmwSuHnqQ2bUVE=
